<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="!auth.authenticated()">

    <login-form></login-form>


    
    
  </div>

  <div *ngIf="auth.authenticated()">
      <ion-card>

    <ion-item *ngIf="auth.user">
      <ion-avatar item-left>
        <img src="{{ auth.user.picture }}">
      </ion-avatar>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>
  
  </ion-card>
  <button ion-button block (click)="getInfo()">Get info</button>
  <button ion-button block (click)="userAddComment()">Add Comment</button>
  <button ion-button block (click)="logout()">Logout</button>
  </div>  
  
</ion-content>