<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="!auth.authenticated()">
    <login-form></login-form>
    <!--<signup-form></signup-form>-->
    <p>Don't have an account yet? please go to <a href="http://sumsy.com/wp-login.php?action=register" target="_blank">Sumsy.com</a> to register.</p>
  </div>

  <div *ngIf="auth.authenticated()">
    <ion-card>

    <ion-item *ngIf="auth.user">
      <p>you have logged in.</p>
      <h2>{{ auth.user.user_display_name }}</h2>
      <p>{{ auth.user.user_email }}</p>
    </ion-item>
  
  </ion-card>

  <button ion-button block (click)="logout()">Logout</button>
  </div>  
  
</ion-content>