<h3 style="margin-top: 2em;">Comments</h3>
<div *ngIf="comments.length > 0">
    <ion-card *ngFor="let comment of comments">
    <ion-item>
        <ion-avatar item-left>
        <img src="{{comment.author_avatar_urls[96]}}">
        </ion-avatar>
        <h2>{{comment.author_name}}</h2>
        <p>{{comment.date | date:"dd/MM/yyyy"}}</p>
    </ion-item>

    <ion-card-content [innerHTML]="comment.content.rendered">



    </ion-card-content>

  <ion-row>
    <ion-col right text-right *ngIf="canDeleteComment(comment.author)">
      <ion-note>
        <span (click)="editComment(comment)"><a>Edit</a></span> | 
        <span (click)="deleteComment(comment.id)"><a>Delete</a></span>
      </ion-note>
    </ion-col>
  </ion-row>


    
    </ion-card>


</div>

<div *ngIf="comments.length === 0">
    No comment yet.
</div>