    <form name="loginForm" #loginForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input
            [(ngModel)]="loginModel.username"
            #username="ngModel"
            name="username"
            type="text"
            required
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input
            [(ngModel)]="loginModel.password"
            #password="ngModel"
            name="password"
            type="password"
            required
          >
          </ion-input>
        </ion-item>
      </ion-list>
      <button ion-button block (click)="login()" [disabled]="!loginForm.valid">Login</button>

      <div *ngIf="!username.valid && (username.dirty || username.touched)" class="alert alert-danger padding">Username is required</div>
      <div *ngIf="!password.valid && (password.dirty || password.touched)" class="alert alert-danger padding">Password is required</div>

      <div class="padding">{{loginStatusMessage}}</div>
    </form>